:root {
  --primary-font: "Amazon Ember";
  --secondary-font: "Amazon Ember";
  --primary-color: #fff;
  --secondary-color: #333;
  --secondary-color-blue: #007185;
  --secondary-color-red: rgb(177, 39, 4);
}
